* {
  box-sizing: border-box;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  appearance: none;
  text-size-adjust: 100%;
  border: 0px;
  font-weight: inherit;
  outline: 0px;
  padding: 0px;
  text-rendering: optimizelegibility;
}


body {
    background-color: rgb(245, 239, 239);
}

.logo {
  margin-left: 30px;
}
.centralize {
  text-align: center;
}

h3 {
    margin: 40px auto;
    margin-bottom: 10px;
    font-weight: 700;
}

h4 {
  margin-bottom: 30px;
  margin-left: 20px;
}

table {
    width: 98%;
    margin: 10px auto;
}

table, th {
  border-collapse: collapse;
  border: 1px solid;
}

th:first-child  {
    border-top-left-radius: 5px;
}

th:last-child {
    border-top-right-radius: 5px;
}


th,
td {
  padding: 10px;
  text-align: left;
}

td {
    border: 1px solid rgb(199, 198, 198);
    background-color: white;
}

th {
  background-color: #466ab9;
  color: white;
}

h1 {
    margin: 30px auto; 
}

h3 {
  font-size: 22px;
  margin-left: 50px;
}

.title-table {
  padding: 10px 50px;
  margin-right: 20px;
  text-align: center;
  font-weight: 700;
}

.table-content {
  text-align: center;
  padding: 20px 0px;
}

input {
  background-color: white;
  border: 1px solid;
  padding-left: 5px;
  text-align: center;
  border-radius: 5px;
}

label {
  font-weight: 600;
  display: inline-block;
  width: 80px;
}

.page-current-date {
  font-weight: 600;
  margin-left: 20px;
  margin-right: 50px;
}

.balance {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}

.title-page {
  margin-top: 20px;
  margin-bottom: 60px;
}

.input-register {
  margin-bottom: 10px;
}

.confirm-button {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(63, 194, 63);
  font-weight: 600;
  color: rgb(252, 252, 252);
}

.confirm-button:hover {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(42, 141, 42);
    font-weight: 600;
    color: white;
  }



.valid-message {
  margin-top: 10px;
  color: red;
}

.btn-delete {
  margin-left: 10px;
  padding: 5px 20px;
  background-color: red;
  color: white;
  font-weight: 600;
  border: 0px;
  border-radius: 5px;
}

.btn-delete:hover {
  margin-left: 10px;
  padding: 5px 20px;
  background-color: rgba(201, 6, 6, 0.959);
  color: white;
  font-weight: 600;
  border: 0px;
  border-radius: 5px;
}

.btn-edit {
    margin-left: 10px;
    padding: 5px 20px;
    background-color: rgb(255, 115, 0);
    color: white;
    font-weight: 600;
    border: 0px;
    border-radius: 5px;
}

.btn-edit:hover {
    margin-left: 10px;
    padding: 5px 20px;
    background-color: rgb(214, 97, 2);
    color: white;
    font-weight: 600;
    border: 0px;
    border-radius: 5px;
}

.btn-new-transaction {
  margin-left: 10px;
  margin-right: 40px;
  padding: 5px 20px;
  background-color: rgb(10, 119, 74);
  color: white;
  font-weight: 600;
  border: 0px;
  border-radius: 5px;
}

.btn-new-transaction:hover {
  margin-left: 10px;
  padding: 5px 20px;
  background-color: rgb(6, 73, 45);
  color: white;
  font-weight: 600;
  border: 0px;
  border-radius: 5px;
}

.cash-moviment-title {
    margin: 40px auto;
}

.search-name-filter {
    margin-left: 20px;
}

.container-new-cash-transaction {
    background-color: rgb(167, 212, 218);
    padding: 30px 40px;
    width: 30%;
    border-radius: 20px;
    margin: 20px auto;
}

.title-new-cash-transaction {
    font-weight: 600;
    text-align: center;
    margin: 20px 20px 30px 20px;
}

.total-balance {
  width: 98%;
  border: 1px solid rgb(199, 198, 198);
  margin: 0px auto;
  background-color: #466ab9;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.input-securities {
  width: 20%;
  margin-left: 40px;
}

/* Fund */

.container-register-fund {
  /* text-align: -webkit-center; */
  margin-left: 40px;
  
}
.input-register {
   width: 40%;
}

.title-register {
  margin-top: 60px;
  margin-left: 40px;
}

.fund-created {
  margin-top: 20px;
  width: 80%;
}